.container{
    padding: 10px;
    max-width: 750px;
    margin: auto;
    border: 0.1px solid white;
    margin-bottom: 5px;
    /* box-shadow: 10px 30px black; */
    background-color: white;

}
.blogs{
    display: grid;
    grid-template-columns: .9fr 1.1fr;
    gap: 20px;
    margin-bottom: 5px;
    /* height: 180px;
    max-height: 180px; */
    gap:4px;
    /* cursor: pointer; */
}
.text h2{
    margin: 0;
    font-size: 1.5rem;
    /* margin-top: 0; */
    
}
img{
    max-width: 100px;
    height: 100%;
}
.image{
    height: 200px;
    min-width: 300px;
}
/* .text{
   max-width: 250px;
    
} */
.edit-delete-ico{
    display: flex;
   margin-left: 350px;
   gap: 5px;
   position: relative;
   margin-top: 3px;
  
}

.edit{
    color: skyblue;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.edit :hover{
    color: rgb(0, 166, 255);
}
.delete{
    color: red;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
