.main-home-div{
    background-image: url("../Components//homebackground.jpg");
}
.main-myblog-div{
    background-image: url("../Components//homebackground.jpg");
    width: 100%;
    height: 100%;
    height: 100vh;
    
}